.root {
    -fx-background-color: #0a171a;
    -fx-text-fill: #FBFCFF;
}

.label {
    -fx-text-fill: #FBFCFF;
}

.button {
    -fx-background-color: #1C444A;
    -fx-text-fill: #A9EAEF;
}

.button:pressed {
    -fx-background-color: #398A96;
}

.check-box {
    -fx-text-fill: #A9EAEF;
}

#deadlineMenuA, #deadlineMenuB, #settingsMenu {
    -fx-background-color: #0a171a;
    -fx-background-radius: 15px;
    -fx-border-color: #A9EAEF;
    -fx-border-radius: 15px;
    -fx-border-width: 2px;
}

.text-field {
    -fx-background-color: #1C444A;
    -fx-text-fill:  #A9EAEF;
    -fx-prompt-text-fill: #5CB5CD;
}
.text-field .viewport{
    -fx-background-color: transparent;
}
.text-field .content{
    -fx-background-color: transparent;
}

.list-view {
    -fx-padding: 0px;
    -fx-background-color: #1C444A;
}

.list-cell {
    -fx-background-color: #1C444A;
    -fx-text-fill: #b5faff;
    -fx-font-size: 2.5em;
}

.list-cell:selected {
    -fx-background-color: #398A96;
}

.text-area {
    -fx-background-color: #1C444A;
    -fx-text-fill:  #A9EAEF;
    -fx-prompt-text-fill: #5CB5CD;
}
.text-area .viewport{
    -fx-background-color: transparent;
}
.text-area .content{
    -fx-background-color: transparent;
}